# Test report
Performed by: Gustav Näslund<br>
22/10 2023 14:19<br>
Commit id: #823d254<br>
Platform: Windows 10 x64<br>

| TEST | STATUS | NOTES |
|------|--------|-------|
|  1.1 |  OK    |       |
|  1.2 |  OK    |       |
|  2.1 |  OK    |       |
|  2.2 |  OK    |       |
|  3.1 |  OK    |       |
|  3.2 |  OK    |       | 
|  4.1 |  OK    |       |
|  5.1 |  OK    |       |
|  5.2 |  OK    |       |
|  6.1 |  OK    |       |
|  6.2 |  OK    |       |
|  7.1 |  OK    |       |
|  7.2 |  OK    |       |
|  7.3 |  OK    |       |